body {
  font-family: sans-serif;
  background-image: url("C:/Users/Gebruiker/Documents/de-vloot/css/grfx/bg.png");
  background-size: 9000px 445px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: blue;
}

#header {
  position: absolute;
  top: 0px;
  left: 470px;
}

h1 {
  position: absolute;
  top: -10px;
  left: 477px;
}


.tekst {
  position: absolute;
  top: 30px;
  left: 480px;
}


.image {
  margin: 8px;
  float: left;
}

li {
    display: inline;
}

ul {
  font-size: 11px;
  display: inline;
  color: white;
  position: relative;
  top: 160px;
  left: 430px;
  word-spacing: 13px;
}

a {
  color: white;
  text-decoration: none;
}

div {
    font-size: 14px;
    background-color: white;
    width: 560px;
    margin-left: 462px;
    margin-top: 160px;
    padding: 10px;
}

.geschiedenis {
   margin: 13px;
   float: left;
   padding-left: 0px;
}

.geschiedenis1 {
  margin: 13px;
  float: right;
  top: 0px;
}

.geschiedenis2 {
  margin: 8px;
  float: left;
  padding-left: 0px;
}

.kruisers {
  margin: 13px;
  float: left;
  padding-left: 0px;
}

.kruisers1 {
  margin: 13px;
  float: left;
}

.kruisers2 {
  margin: 12px;
  float: right;
}

.vliegdekschip {
  margin: 12px;
  float: right;
}
.plattegrond {
  margin: 12px;
  float: left;
}

.schip {
  margin: 12px;
  float: left;
}

.onderzeeër {
  margin: 10px;
  float: left;
}

.onderzeeër1 {
  margin: 12px;
  float: right;
}

.onderzeeër2 {
  margin: 12px;
  float: left;
}
